body{
    background-color:#108728;
}
h1 {
    font-size:100px;
        color:#000000
        text-align:center;
        font-style:oblique;
    }
h2 {
    font-size:75px;
    color:#000000
    text-align:center;
    font-style:oblique;
}
h3 {
    font-size:75px;
    color:#000000
    text-align:left;
    font-style:oblique;
} 
ul.nav li a{
    display:inline-block;
    padding:10px;
    background-color:#333
    color:#fff
    text-decoration:none;
}
ul.nav li a:hover{
    background-color:#000;
}
p {fancy
    font-family: verdana;
    font-size: 20px
}
